body{
    background: url('images/zwartevilt.png');
    background-repeat: repeat;
}

.items-container {
    position: relative;
    top: 2%;
    left: 5%;
    width: 90%;
}

.item {
    margin-top: 35px;
    margin-left: 30px;
    margin-bottom: 50px;
    margin-right: 30px;
    height: 200px;
    width: 150px;
    position: relative;
    float: left;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 12px;
}

.item img {
    height: 100%;
    width: 100%;
    position: relative;
    top:0;
    left: 0;
}

.search {
  margin-top: 0.5%;
  background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
  border: 1px solid #d1d1d1;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 100;
  color: black;
  height: 60px;
  width: 50%;
  padding: 6px 15px 6px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45) inset;
  text-align: center;
}

.add-background{
    position: fixed;
    bottom: 45px;
    right: 24px;
}

.item-input {
    display:none;
}

.glow {
    background: rgba(255,255,255,0.6);
    border-radius: 15px;
    padding: 10px;
    border: 1px #3498db solid;
}

.add-item {
    float: right;
    right:0;
    bottom:0;
}

#titleId{
  background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
  border: 1px solid #d1d1d1;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: black;
  padding: 6px 15px 6px 25px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45) inset;
}
