body{
    background: url('images/zwartevilt.png');
    background-repeat: repeat;
    overflow: hidden;
}

.nav-panel {
    position: fixed;
    float: left;
    top: 0;
    left: 0;
    width: 14%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 24px;
}

.nav-panel ul {
   list-style-type: none;
   padding: 0px;
   margin: 0px;
}

.nav-panel ul li{
   padding-left: 20px;
   padding-top: 10px;
}


.items-container {
    position: relative;
    float: left;
    top: 0;
    left: 15%;
    width: 85%;
    height: 100%;
    overflow: scroll;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.item {
    margin-top: 35px;
    margin-left: 30px;
    margin-bottom: 50px;
    margin-right: 30px;
    height: 200px;
    width: 150px;
    position: relative;
    float: left;
}

.item img {
    height: 100%;
    width: 100%;
    position: relative;
    top:0;
    left: 0;
}